html,
body {
  background-color: #edf0f5;
  height: 100%;
}

* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

.t-modal-open {
  overflow: hidden;
  position: fixed;
  width: 100%;
}
